<% include crm-partials/crmHeader %>

<div class="container crm home">
	<% include ../partials/profile-top.ejs %>
	<!-- <a href="/onlineoffice/wall/<%= currentUser.id %>">
	<% if (userInfo[0].profile_img) { %>
		<% if (userInfo[0].profile_img_status == 6) { %>
			<img class="profile-img content-page" id="rotate" src="/images/profile-imgs/<%= userInfo[0].profile_img %>" alt="profile image">
		<% } else { %>
			<img class="profile-img content-page" src="/images/profile-imgs/<%= userInfo[0].profile_img %>" alt="profile image">
		<% } %>
	<% } else { %>
		<img class="profile-img content-page" src="/images/profile-imgs/default-profile.jpg %>" alt="profile image">
	<% } %>
	</a> -->
	<p id="title">Your Online Office</p>
	<p id="message">Explore our tools!</p>
	<hr>
	<div class="row" id="home-tabs">
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/dashboard">
				<div class="smaller-circle">
					<i class="fa fa-pencil-square-o fa-3x home-icons" aria-hidden="true"></i>
					<div>Dashboard</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/organization">
				<div class="smaller-circle">
					<i class="fa fa-handshake-o fa-3x home-icons" aria-hidden="true"></i>
					<div>Organization</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/contacts">
				<div class="smaller-circle">
					<i class="fa fa-address-book-o fa-3x home-icons" aria-hidden="true"></i>
					<div>Contacts</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/calendar/<%= currentUser.id %>">
				<div class="smaller-circle">
					<i class="fa fa-calendar-check-o fa-3x home-icons" aria-hidden="true"></i>
					<div>Calendar</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/communitytasks/<%= currentUser.id %>">
				<div class="smaller-circle">
					<i class="fa fa-calendar-check-o fa-3x home-icons" aria-hidden="true"></i>
					<div>Task Grid</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/projects">
				<div class="smaller-circle">
					<i class="fa fa-paper-plane-o fa-3x home-icons" aria-hidden="true"></i>
					<div>Projects</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/storage/<%= currentUser.id %>">
				<div class="smaller-circle">
					<i class="fa fa-archive fa-3x home-icons" aria-hidden="true"></i>
					<div>Storage</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/voicemail/<%= currentUser.id %>">
				<div class="smaller-circle">
					<i class="fa fa-video-camera fa-3x home-icons" aria-hidden="true"></i>
					<div>Videomail</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/inbox">
				<div class="smaller-circle">
					<i class="fa fa-envelope-o fa-3x home-icons" aria-hidden="true"></i>
					<div>Inbox</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/payment">
				<div class="smaller-circle">
					<i class="fa fa-credit-card-alt fa-3x home-icons" aria-hidden="true"></i>
					<div>Payment</div>
				</div>
			</a>
		</div>
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/whiteboard">
				<div class="smaller-circle">
					<i class="fa fa-pencil-square-o fa-3x home-icons" aria-hidden="true"></i>
					<div>Whiteboard</div>
				</div>
			</a>
		</div>
		<!-- <div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/conference">
				<div class="smaller-circle"><i class="fa fa-comments-o fa-3x home-icons" aria-hidden="true"></i>
					<div>Conference</div>
				</div>
			</a>
		</div> -->
		<div class="col-xs-3 col-sm-2 col-md-2">
			<a href="/onlineoffice/settings">
				<div class="smaller-circle">
					<i class="fa fa-cog fa-3x home-icons" aria-hidden="true"></i>
					<div>Settings</div>
				</div>
			</a>
		</div>
	</div>
</div>

<% include crm-partials/crmFooter %>