<% include ./partials/header %>

<div class="profile">
	<div class="container">
		
		<% include ./partials/profile-content-tabs.ejs %>

		<div class="content-tabs">
			<div class="semi-circle semi-circle-select" data-attribute="photos"><p>Photos</p></div>
			<div class="semi-circle" data-attribute="videos"><p>Videos</p></div>
		</div>
		<div class="content">
			<div class="section photos first">
				<p class="sub-title">Photos</p>
				<% if (userInfo[0].user_id == currentUser.id) { %>
					<form action="/profile/<%= currentUser.id %>/uploadphoto" method="POST" enctype="multipart/form-data">
						<div class="form-group align-left">
							<label for="profile-img">Upload Photo</label>
							<input class="btn btn-default btn-sm" type="file" name="file" id="file">
							<input class="btn btn-default btn-sm upload-btn" type="submit" value="Upload">
						</div>
					</form>
				<% } %>
				<div class="row">
					<% userPhotos.forEach(function(photo) { %>
						<div class="col-xs-6 col-sm-4 col-md-4 padding-0" id="photos">
							<% if (photo.migrated) { -%>
								<div>
									<a class="gradient" href="/wall/<%= photo.image %>"><img class="photo" src="/wall/<%= photo.image %>" alt=""></a>
								</div>
							<% } else { -%>
								<div>
									<a class="gradient" href="/images/media/<%= photo.image %>"><img class="photo" src="/images/media/<%= photo.image %>" alt=""></a>
								</div>
							<% } -%>
							<% if (userInfo[0].user_id == currentUser.id) { %>
								<div class="point-cursor">
									<form action="/profile/<%= currentUser.id %>/deletephoto/<%= photo.photo_id %>?_method=DELETE" method="POST">
										<button class="delete-photo"><i class="fa fa-close"></i></button>
									</form>
								</div>
							<% } %>
<!-- 							<div class="text-box">
								<p class="sub-title">title</p>
								<p>summary placeholder goes here. Blah, Blah, Blah... Blah, Blah, Blah... Blah, Blah, Blah...</p>
							</div> -->
						</div>
					<% }) %>
				</div>
			</div>
			<div class="section videos">
				<p class="sub-title">Videos</p>
				<% if (userInfo[0].user_id == currentUser.id) { %>
					<form action="/profile/<%= currentUser.id %>/uploadvideo" method="POST" enctype="multipart/form-data">
						<div class="form-group align-left">
							<label for="profile-img">Upload Video</label>
							<input class="btn btn-default btn-sm" type="file" name="file" id="file">
							<input class="btn btn-default btn-sm upload-btn" type="submit" value="Upload">
						</div>
					</form>
				<% } %>
				<div class="row">
					<div class="col-sm-4 col-md-3">
						<p class="sub-title">Playlist</p>
						<div class="video-list">
							<% userVideos.forEach(function(video) { %>
								<% if (video) { %>
									<div id="each-video-div">
										<% if (userInfo[0].user_id == currentUser.id) { %>
											<div class="point-cursor">
												<form action="/profile/<%= currentUser.id %>/deletevideo/<%= video.video_id %>?_method=DELETE" method="POST">
													<button class="delete-video"><i class="fa fa-close"></i></button>
												</form>
											</div>
										<% } %>
										<% if (video.migrated) { -%>
											<video class="each-video circle point-cursor" id="<%= video.video %>">
											  <source src="/wall/<%= video.video %>" type="video/mp4">
											</video>
										<% } else { %>
											<video class="each-video circle point-cursor" id="<%= video.video %>">
											  <source src="/videos/media/<%= video.video %>" type="video/mp4">
											</video>
										<% } %>
									</div>
								<% } %>
							<% }) %>
						</div>
					</div>
					<div class="col-sm-8 col-md-9">
						<p id="player-text" class="sub-title">Choose a video to play</p>
						<div id="player">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>