<% include ./partials/header %>

<div class="profile">
	<div class="container">
		
		<% include ./partials/profile-content-tabs.ejs %>

		<div class="content-tabs">
			<div class="semi-circle semi-circle-select" data-attribute="profile-img"><p>Profile Image</p></div>
			<div class="semi-circle" data-attribute="profile-info"><p>Profile Info</p></div>
			<div class="semi-circle" data-attribute="refer"><p>Refer a Friend</p></div>
		</div>
		<div class="content">
			<div class="settings">
				<p class="title">Profile Settings</p>
			</div>
			<div class="section first profile-img">
				<form action="/profile/<%= currentUser.id %>/profileimg" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" name="orientation" id="profile_orientation">
						<label for="profile-img">Upload Profile Image</label>
						<input class="margin-0-auto" type="file" name="file" id="file-input">
						<input class="btn btn-default btn-sm upload-btn" type="submit" value="Upload">
					</div>
				</form>
				<form action="/profile/<%= currentUser.id %>/wallimg" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<label for="wall-img">Upload Wall Image</label>
						<input class="margin-0-auto" type="file" name="file" id="file">
						<input class="btn btn-default btn-sm upload-btn" type="submit" value="Upload">
					</div>
				</form>
			</div>
			<div class="section refer">
				<p class="sub-title">Social Media Keys</p>
				<div class="form-group">
					<input class="form-control app-keys" type="text" value="1" readonly>
				</div>
				<p class="sub-title">Refer a Friend</p>
				<a href="/signup/<%= userInfo[0].username %>">Sign up User</a>
				<p>or send below link</p>
				<div class="form-group">
					<input class="form-control" type="text" value="http://<%= hostname %>/signup/<%= currentUser.username %>" readonly>
				</div>
			</div>
			<div class="section profile-info">
				<p class="sub-title">Profile Info</p>
				<form class="edit-profile-info margin-0-auto" action="/profile/<%= userInfo[0].user_id %>/editprofile?_method=PUT" method="POST">
					<div class="form-group">
						<label for="first_name">First Name:</label>
						<input type="text" name="first_name" class="form-control" value="<%= userInfo[0].first_name %>">
					</div>
					<div class="form-group">
						<label for="last_name">Last Name:</label>
						<input type="text" name="last_name" class="form-control" value="<%= userInfo[0].last_name %>">
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" name="email" class="form-control" value="<%= userInfo[0].email %>">
					</div>
					<button class="btn btn-success">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>