<% include ./partials/header %>

<div class="profile">
	<div class="container">
		
		<% include ./partials/profile-content-tabs.ejs %>

		<div class="align-left">
			<div class="content-tabs">
				<span class="semi-circle semi-circle-select" data-attribute="text-wall-form"><p>Text</p></span>
				<span class="semi-circle" data-attribute="media-wall-form"><p>Media</p></span>
			</div>
			<form class="section text-wall-form first" action="/profile/<%= userInfo[0].user_id %>/wall" method="POST">
				<div class="form-group">
					<textarea name="post_text" class="form-control" id="post-content-textbox" placeholder="Write a post"></textarea>
					<button class="btn btn-default">Post</button>
				</div>
			</form>
			<form class="section media-wall-form" action="/profile/<%= userInfo[0].user_id %>/wall" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<div class="form-group">
						<input type="file" name="file" id="file">
					</div>
					<button class="btn btn-default">Upload</button>
				</div>
			</form>
			<div class="wall-tabs">
				<span class="semi-circle semi-circle-select" data-attribute="wall"><p>All Posts</p></span>
				<span class="semi-circle" data-attribute="text-wall"><p>Posts</p></span>
				<span class="semi-circle" data-attribute="photos-wall"><p>Photos</p></span>
				<span class="semi-circle" data-attribute="videos-wall"><p>Videos</p></span>
			</div>
			<div class="app-tabs">
				<span class="semi-circle semi-circle-select" data-attribute="main-app"><p>Main</p></span>
				<span class="semi-circle" data-attribute="process-crm-app"><p>Process Crm</p></span>
			</div>
			<div class="posts">
				<div class="apps main-app">
					<% posts.forEach(function(post) { %>
						<% if (post.post_text) { %>
							<div class="wall-section text-wall wall">
								<div class="each-post">
									<% if (currentUser.id == post.post_user_id || currentUser.id == userInfo[0].user_id) { %>
										<form action="/profile/<%= userInfo[0].user_id %>/wall/<%= post.post_id %>?_method=DELETE" method="POST">
											<button class="btn-default delete-post float-right"><i class="fa fa-close"></i></button>
										</form>
									<% } %>
									<p><%= post.username %><span class="small-text"> on: <%= post.date %> - <%= post.time %></span></></p>
									<p><%= post.post_text %></p>
									<% if (currentUser.id == post.post_user_id) { %>
										<button class="btn btn-default btn-sm edit-post-btn">Edit</button>
										<form action="/profile/<%= userInfo[0].user_id %>/wall/<%= post.post_id %>?_method=PUT" method="POST" class="post-edit-form">
											<textarea name="post_text" class="form-control" id="post-content-textbox" placeholder="Edit post"><%= post.post_text %></textarea>
											<button class="btn btn-default btn-sm">Save</button>
										</form>
									<% } %>
								</div>
							</div>
						<% } %>
						<% if (post.post_media) { -%>
							<% var temp = post.post_media.match(/([.][^.]+)$/) %>
							<% if(Array.isArray(temp)){ %>
								<% if (temp[0] == ".jpg" || temp[0] == ".JPG" || temp[0] == ".jpeg" || temp[0] == ".pdf" || temp[0] == ".PDF" || temp[0] == ".png" || temp[0] == ".PNG") { %>
									<div class="wall-section photos-wall wall">
										<div class="each-post">
											<% if (currentUser.id == post.post_user_id || currentUser.id == userInfo[0].user_id) { %>
												<form action="/profile/<%= userInfo[0].user_id %>/wall/<%= post.post_id %>?_method=DELETE" method="POST">
													<button class="btn-default delete-post float-right"><i class="fa fa-close"></i></button>
												</form>
											<% } %>
											<p><%= post.username %><span class="small-text"> on: <%= post.date %> - <%= post.time %></span></></p>
											<embed src="/wall/<%= post.post_media %>" class="storage-files">
										</div>
									</div>
								<% } %>
							<% } %>
						<% } %>
						<% if (post.post_media) { -%>
							<% var temp = post.post_media.match(/([.][^.]+)$/) %>
							<% if(Array.isArray(temp)){ %>
								<% if (temp[0] == ".mov" || temp[0] == ".MOV" || temp[0] == ".mp4" || temp[0] == ".MP4" || temp[0] == ".mpeg" || temp[0] == ".MPEG") { %>
									<div class="wall-section videos-wall wall">
										<div class="each-post">
											<% if (currentUser.id == post.post_user_id || currentUser.id == userInfo[0].user_id) { %>
												<form action="/profile/<%= userInfo[0].user_id %>/wall/<%= post.post_id %>?_method=DELETE" method="POST">
													<button class="btn-default delete-post float-right"><i class="fa fa-close"></i></button>
												</form>
											<% } %>
											<p><%= post.username %><span class="small-text"> on: <%= post.date %> - <%= post.time %></span></></p>
											<video class="wall-video point-cursor" controls>
											<source src="/wall/<%= post.post_media %>" type="video/mp4" class="storage-files">
											</video>
										</div>
									</div>
								<% } %>
							<% } %>
						<% } %>
					<% }) %>
				</div>
			</div>
			<div class="apps process-crm-app">
				<% crmPosts.forEach(function(post) { %>
					<% if (post.post_text) { %>
						<div class="wall-section text-wall wall">
							<div class="each-post">
								<% if (currentUser.id == post.post_user_id || currentUser.id == userInfo[0].user_id) { %>
									<form action="/profile/<%= userInfo[0].user_id %>/wall/<%= post.post_id %>?_method=DELETE" method="POST">
										<button class="btn-default delete-post float-right"><i class="fa fa-close"></i></button>
									</form>
								<% } %>
								<p><%= post.username %><span class="small-text"> on: <%= post.date %> - <%= post.time %></span></></p>
								<p><%= post.post_text %></p>
								<% if (currentUser.id == post.post_user_id) { %>
									<button class="btn btn-default btn-sm edit-post-btn">Edit</button>
									<form action="/profile/<%= userInfo[0].user_id %>/wall/<%= post.post_id %>?_method=PUT" method="POST" class="post-edit-form">
										<textarea name="post_text" class="form-control" id="post-content-textbox" placeholder="Edit post"><%= post.post%></textarea>
										<button class="btn btn-default btn-sm">Save</button>
									</form>
								<% } %>
							</div>
						</div>
					<% } %>
					<% if (post.post_media) { -%>
						<% var temp = post.post_media.match(/([.][^.]+)$/) %>
						<% if(Array.isArray(temp)){ %>
							<% if (temp[0] == ".jpg" || temp[0] == ".JPG" || temp[0] == ".jpeg" || temp[0] == ".pdf" || temp[0] == ".PDF" || temp[0] == ".png" || temp[0] == ".PNG") { %>
								<div class="wall-section photos-wall wall">
									<div class="each-post">
										<% if (currentUser.id == post.post_user_id || currentUser.id == userInfo[0].user_id) { %>
											<form action="/profile/<%= userInfo[0].user_id %>/wall/<%= post.post_id %>?_method=DELETE" method="POST">
												<button class="btn-default delete-post float-right"><i class="fa fa-close"></i></button>
											</form>
										<% } %>
										<p><%= post.username %><span class="small-text"> on: <%= post.date %> - <%= post.time %></span></></p>
										<embed src="/wall/<%= post.post_media %>" class="storage-files">
									</div>
								</div>
							<% } %>
						<% } %>
					<% } %>
					<% if (post.post_media) { -%>
						<% var temp = post.post_media.match(/([.][^.]+)$/) %>
						<% if(Array.isArray(temp)){ %>
							<% if (temp[0] == ".mov" || temp[0] == ".MOV" || temp[0] == ".mp4" || temp[0] == ".MP4" || temp[0] == ".mpeg" || temp[0] == ".MPEG") { %>
								<div class="wall-section videos-wall wall">
									<div class="each-post">
										<% if (currentUser.id == post.post_user_id || currentUser.id == userInfo[0].user_id) { %>
											<form action="/profile/<%= userInfo[0].user_id %>/wall/<%= post.post_id %>?_method=DELETE" method="POST">
												<button class="btn-default delete-post float-right"><i class="fa fa-close"></i></button>
											</form>
										<% } %>
										<p><%= post.username %><span class="small-text"> on: <%= post.date %> - <%= post.time %></span></></p>
										<video class="wall-video point-cursor" controls>
										<source src="/wall/<%= post.post_media %>" type="video/mp4" class="storage-files">
										</video>
									</div>
								</div>
							<% } %>
						<% } %>
					<% } %>
				<% }) %>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>