<% include ecrm-partials/ecrmHeader %>

<div class="container crm page">
	<% include ecrm-partials/navTabs %>
	<hr>
	<p id="title">Inbox</p>
	<p class="float-right point-cursor" data-toggle="modal" data-target="#send-message-form"><i class="fa fa-comments-o" aria-hidden="true"></i> Send a message</p>
	<div class="inbox-list">
		<p>Messages</p>
		<% if (inbox.length > 0) { %>
			<% for (var i=0;i<inbox.length;i++) { %>
				<div class="each-message">
					<form action="/office/deletemessage/<%= inbox[i].id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger btn-sm float-right">delete</button>
					</form>
					<p>From: <%= inbox[i].username %></p>
					<p>Subject: <%= inbox[i].subject %></p>
					<p><%= inbox[i].message %></p>
				</div>
			<% } %>
		<% } else { %>
			<p>Inbox is empty</p>
		<% } %>
	</div>
	<div class="sent-list">
		<p>Sent Messages</p>
		<% if (sentMessages.length > 0) { %>
			<% for (var i=0;i<sentMessages.length;i++) { %>
				<div class="each-message">
					<form action="/office/deletemessage/<%= sentMessages[i].message_id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger btn-sm float-right">delete</button>
					</form>
					<p>To: <%= sentMessages[i].username %></p>
					<p>Subject: <%= sentMessages[i].subject %></p>
					<p><%= sentMessages[i].message %></p>
				</div>
			<% } %>
		<% } else { %>
			<p>no sent messages</p>
		<% } %>
	</div>
</div>

<!-- modal start -->
<div class="modal" id="send-message-form" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
  	<div class="modal-content">
  		<button class="btn btn-danger btn-sm" id="close-modal-form" data-dismiss="modal">Close</button>
  		<p class="sub-title">Send a Direct Message</p>
  		<form action="/office/sendmessage" method="POST">
  			<div class="form-group">
					<label for="to_username">Send to</label>
					<input type="text" name="to_username" class="form-control" placeholder="Enter Username">
				</div>
				<div class="form-group">
					<label for="subject">Subject</label>
					<input type="text" name="subject" class="form-control">
				</div>
				<div class="form-group">
					<label for="message">Message</label>
					<textarea type="text" name="message" class="form-control"></textarea>
				</div>
	  		<button class="btn btn-success">Send Message</button>
	  	</form>
		</div>
	</div>
</div>
<!-- modal end -->

<% include ecrm-partials/ecrmFooter %>